{% extends 'news/layout.html' %}

{% block body %}

<div class="wrapper">
    <div class="left"></div>
    <table class="table table-striped article-container table-sm table-hover" style="text-align: center;">
        <tr>
            <th scope="col">Website Search</th>
            <th scope="col">Query</th>
            <th scope="col">Time</th>
        </tr>
        {% for scrape in scrapes %}
        <tr>
            <td class="{{scrape.id}}">{{scrape.website}}</td>
            <td class="{{scrape.id}}">{{scrape.search}}</td>
            <td class="{{scrape.id}}">{{scrape.time}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="found-articles"></div>
    <div class="right"><input type="hidden" id="userID" value="{{request.user.id}}"></div>
    
</div>  

{% endblock %}