.nav-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    column-gap: 1em;
    padding-top: 2rem;
}

.name {
    position: absolute;
    left: 10px;
}

.home {
    font-size: 40px;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2em;
}

.dropdown {
    margin-right: 3em;
    width: 10em;
}

.search {
    margin-right: 3em;
    width: 20em
}

.search-container > label {
    margin-right: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.article-container {
    margin-top: 25px;

}

.headline {
    text-align: center;
}

.article {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: solid;
}

.article-body{
    text-align: center;
    margin-bottom: 1rem;
    
}

.interact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    justify-items: center;
    align-content: center;
    
}

svg {
    width: 2rem;
}

.nav-container > div > a {
    text-decoration: none;
    color: black;
}

.name > a {
    font-size: 16px;
    color: blue !important
}

.clear {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

svg:hover {
    cursor: pointer;
}

.cat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
}

.clear:hover {
    cursor: pointer;
    text-decoration: underline;
}

.title {
    text-decoration: underline;
    font-size: 18px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
}